<div class="mt-5 mb-5 m-4">
  <h3 class="mb-3 fw-bold">Recipe Edit</h3>
  <%= form_for(@recipe) do |f| %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %><br />
    <%= f.label :body, "Description" %>
    <%= f.text_area :body, rows: 5 %><br />
    <%= f.label :image, "Image" %>
    <%= f.file_field :image %><br />
    <%= f.submit "Submit", class: "user-edit-button" %>
  <% end %>
</div>
