<h3>Recipe lineup</h3>
<div>
  <%= @recipes.each do |recipe| %>
    <div>
      <%= attachment_image_tag recipe, :image %>
      <h6><%= recipe.title %></h6>
      <p><%= recipe.user.username %></p>
      <p>Updated at <%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
    </div>
  <% end %>
</div>
