<div class="notification is-danger">
  <% if @recipe.errors.any? %>
    <h3>* <%= pluralize(@recipe.errors.count, 'error')  %></h3>
    <ul>
      <% @recipe.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<section class="section">
  <h3 class="mb-5">New Recipe</h3>
  <%# <div class="d-flex justify-content-start"> %>
  <%# </div> %>
  <div class="container">
    <div class="columns is-centered">
      <div class="columns is-6">
        <%= form_for @recipe do |f| %>
          <div class="field">
            <%= f.label :title, class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>
          <div class="field">
            <%= f.label :body, class: "label" %>
            <%= f.text_area :body, rows: 5, class: "textarea" %>
          </div>
          <div class="field">
            <%= f.label :image, "Image", class: "label" %>
            <%= f.file_field :image %>
          </div>
          <div>
            <%= f.submit "Submit", class: "button is-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
