<div class="container">
  <h3 class="mt-3">New Recipe</h3>
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :title,
              autofocus: true,
              input_html: { autocomplete: "title" } %>
    <%= f.input :body,
              autofocus: true,
              input_html: { autocomplete: "body", row: 5 } %>
    <%= f.label :image, "Image" %>
    <%= f.input :image,
              as: :file,
              label: false,
              input_html: { multiple: true } %>
    <%= f.button :submit, class: "recipe-button" %>
  <% end %>
</div>
