<div class="user-edit-container">
  <h3>Edit page</h3>
  <%= simple_form_for @user do |f| %>
    <div class="form-inputs">
      <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }
                class: "input" %>
      <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }
                class: "input" %>
      <%= f.input :profile,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "profile" }
                class: "input" %>
      <%= f.label :profile_img %>
      <%= f.input :profile_img, label: false, as: :file, input_html: { class: "input-img" } %>
      <%= f.button :submit, class: "user-edit-button"%>
    </div>
  <% end %>
</div>
