<div class="d-flex justify-content-start text-align-items-center mt-5 mb-4 ml-4 fw-b">
  <h3>My Favorite Recipes <i class="fas fa-heart" style="color: #f14668;"></i></h3>
</div>
<div class="container">
  <% @likes.each do |like| %>
    <div>
      <div class='recipe-index-recipe'>
        <%= attachment_image_tag like.recipe, :image, class: "recipe-index-img" %>
        <div class="recipe-name">
          <h5><%= like.recipe.title %></h5>
        </div>
        <div class="recipe-date">
          <p class="time mb-0"><%= like.ecipe.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to user_path(recipe.user), class: 'recipe-user' do %>
            <div class="d-flex justify-content-start p-2">
              <%= attachment_image_tag like.recipe.user, :profile_img, fallback: "no-image.jpeg", class: "recipe-user-img"  %>
              <p class="ml-3 mb-0"><%= like.recipe.user.username %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
