<div class="user-show-container d-flex justify-content-evenly">
  <div class="item">
    <%= attachment_image_tag @user, :profile_img, fallback: "no-image.jpeg", class: "user-show-img" %>
  </div>
  <div class="item user-show-profile">
    <h3 class="name bold"><%= @user.username %></h3>
    <p><%= @user.profile %></p>
    <% if @user.id == current_user.id %>
      <p><%= @user.email %></p>
    <% end %>
    <% if @user.id == current_user.id %>
      <div class="d-flex justify-content-center">
        <div class="item user-show-edit-button">
          <%= link_to "Edit", edit_user_path(@user), class: "button is-success" %>
        </div>
        <div class="item user-show-edit-button">
          <%= link_to likes_user_path(@user), class: "button is-success" do %>
            <p>Favorite recipe <i class="fas fa-heart"></i></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <% @user.recipes.each do |recipe| %>
    <div class="recipe-index-card">
      <div class="recipe-index-recipe">
        <%= attachment_image_tag recipe, :image, class: "user-show-recipe-image" %>
        <div class="recipe-name">
          <h5><%= recipe.title %></h5>
        </div>
        <div class="user-recipe-date">
          <p class="mb-0 ml-3">Posted at <%= recipe.updated_at.strftime("%Y/%m/%d %H:%M") %></p>
        </div>
        <div class="user-recipe-button d-flex justify-content-evenly">
          <%= link_to recipe_path(recipe), class: "button is-success pl-2 pr-2" do %>
            <p><i class="fas fa-utensils"></i> Detail</p>
          <% end %>
          <% if @user.id == current_user.id %>
            <%= link_to edit_recipe_path(recipe), class: "button is-success pl-2 pr-2" do %>
              <p><i class="fas fa-pen-nib"></i> Edit</p>
            <% end %>
            <%= link_to recipe_path(recipe), method: :delete, data: { confirm: "Do you want to delete #{recipe.title} ?" },class: "button is-success pl-2 pr-2" do %>
              <p><i class="fas fa-trash-alt"></i> Delete</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
