<div class="user-show-container">
  <div class="item">
    <%= attachment_image_tag @user, :profile_img, fallback: "no-image.jpeg", class: "user-show-img" %>
  </div>
  <div class="item user-show-profile">
    <h3 class="name bold"><%= @user.username %></h3>
    <p><%= @user.profile %></p>
    <% if @user.id == current_user.id %>
      <p><%= @user.email %></p>
    <% end %>
  </div>
  <% if @user.id == current_user.id %>
    <div class="item user-show-edit-button">
      <%= link_to "Edit", edit_user_path(@user), class: "button is-success" %>
    </div>
  <% end %>
</div>
<% @user.recipes.each do |recipe| %>
  <%= attachment_image_tag recipe, :image %>
  <%= recipe.title %>
  <% if @user.id == current_user.id %>
    <div class="d-flex">
      <%= link_to "Detail", recipe_path(recipe), class: "button is-success" %>
      <%= link_to "Edit", edit_recipe_path(recipe), class: "button is-success" %>
      <%= link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: "Do you want to delete #{recipe.title} ?" },class: "button is-success" %>
    </div>
  <% end %>
<% end %>
