<!DOCTYPE html>
<html>
  <head>
    <title>recipegram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <div class="navbar-container">
      <div class="item-nav-recipegram">
        <%= link_to root_path, class: 'navbar-item' do %>
          <h3 class="title" style="font-family: cursive;">Recipegram</h1>
        <% end %>
      </div>
      <div class="item-buttons">
        <% if user_signed_in?  %>
          <div class="item-button">
            <%= link_to "My page", user_path(current_user), class: "button is-warning is-light" %>
          </div>
          <div class="item-button">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'button is-warning is-light' %>
          </div>
          <div class="item-button">
            <%= link_to 'Recipegramer List', users_path, class: 'button is-warning is-light' %>
          </div>
        <% else %>
          <div class="item-button">
            <%= link_to 'Log in', new_user_session_path, method: :get, class: 'button is-warning is-light' %>
          </div>
          <div class="item-button">
            <%= link_to 'Sign up', new_user_registration_path, method: :get, class: 'button is-warning is-light' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
